.p {
    margin: 0;
    overflow-x: hidden;
}

/*
$range-height: 2rem !default;
$range-border-radius: 0.25rem !default;
$range-track-size: 0.4rem !default;
$range-track-bg: #e9ecef !default;
$range-fill-bg: #0d6efd !default;
$range-disabled-track-bg: #dee2e6 !default;
$range-handle-size: 1rem !default;
$range-handle-border: 1px solid #dee2e6 !default;
$range-handle-border-radius: 50% !default;
$range-handle-bg: #fff !default;
$range-disabled-handle-bg: #e9ecef !default;
$range-handle-shadow: 0 1px 3px #dee2e6 !default;
$range-tooltip-bg: #0d6efd !default;
$range-tooltip-color: #fff !default;
$range-tooltip-padding: 0 0.5rem !default;
$range-tooltip-border-radius: 0.25rem !default; 
*/

/* https://troll-winner.com/blog/one-more-dual-range-slider/ */
.range {
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 0;
        border: 0 solid transparent;
        border-radius: 0.25rem;
        background: #e9ecef;
    }

    &::-moz-range-track {
        width: 100%;
        height: 0;
        border: 0 solid transparent;
        border-radius: 0.25rem;
        background: #e9ecef;
    }

    &::-ms-track {
        width: 100%;
        height: 0;
        border: 0 solid transparent;
        border-radius: 0.25rem;
        background: #e9ecef;
    }
    
    &::-webkit-slider-thumb {
        appearance: none;
        width: 0.125rem;
        height: 2rem;
        border: 1px solid #808080;
        background: #fff;
        box-shadow: 0 1px 3px #dee2e6;
        cursor: col-resize;
        transform: translateY(-50%);
        pointer-events: auto;
    }

    &::-moz-range-thumb {
        appearance: none;
        width: 0.125rem;
        height: 2rem;
        border: 1px solid #808080;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 1px 3px #dee2e6;
        cursor: col-resize;
        transform: translateY(-50%);
        pointer-events: auto;
    }

    &::-ms-thumb {
        appearance: none;
        width: 0.125rem;
        height: 2rem;
        border: 1px solid #808080;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 1px 3px #dee2e6;
        cursor: col-resize;
        transform: translateY(-50%);
        pointer-events: auto;
    }

    display: block;
    width: 100%;
    height: 2rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
    appearance: none;
    pointer-events: none;

    &:disabled {
        cursor: not-allowed;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: (0.4rem / 2) - (1rem / 2);
    }
}

/* vscode doesn't like vendor-specific selectors nested */
.range:focus::-webkit-slider-runnable-track {
    background: #e9ecef;
}
.range:focus::-moz-range-track {
    background: #e9ecef;
}
.range:focus::-ms-track {
    background: #e9ecef;
}

.range:disabled::-webkit-slider-runnable-track {
    background: #dee2e6;
}
.range:disabled::-moz-range-track {
    background: #dee2e6;
}
.range:disabled::-ms-track {
    background: #dee2e6;
}
.range:disabled::-webkit-slider-thumb {
    background: #e9ecef;
}
.range:disabled::-moz-range-thumb {
    background: #e9ecef;
}
.range:disabled::-ms-thumb {
    background: #e9ecef;
}

.double-range {
    position: relative;

    .from {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-color: transparent;
    }

    .from::-webkit-slider-runnable-track {
        background-color: transparent;
    }
    .from::-moz-range-track  {
        background-color: transparent;
    }
    .from::-ms-track {
        background-color: transparent;
    }
}

.multi-range {
    position: relative;
    
    .from {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-color: transparent;

        clip-path: inset(-1rem var(--right-offset) -1rem var(--left-offset));
        outline: 1px solid tomato;
    }

    .from::-webkit-slider-runnable-track {
        background-color: transparent;
    }
    .from::-moz-range-track  {
        background-color: transparent;
    }
    .from::-ms-track {
        background-color: transparent;
    }
}
