.p {
    margin: 0;
    overflow-x: hidden;
}

.column {
    position: relative;
}

.handle {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: col-resize;
    border-right: 0.25rem solid #fff;
}
