.p {
    margin: 0;
    overflow-x: hidden;
}

.column {
    position: relative;
    padding-inline: 0.25rem;
    overflow-x: hidden;

    > span {
        text-wrap: nowrap;
    }
}

.handle {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
    height: 100%;
    cursor: col-resize;
    padding-inline: 1rem;
    z-index: 2;

    > span {
        height: 100%;
        border-right: 0.125rem solid #fff;
    }
}
